{% extends "layout.html" %}



{% block content%}
<div class="container">
<h1 style="color:#3f4449">Editorial Team </h1>

<h5 style="color:#666363; text-align:justify" >In our group, we are from different backgrounds including electrochemistry, organic chemistry, physical chemistry, 
  and physics working together in the Team of Molecular Electrochemistry for Energy (MEE) 
  at Vidyasirimedhi Institute of Science and Technology (VISTEC), Thailand. Here is one of our products created by combining electrochemistry 
  and machine learning knowledge by our editors. </h5>

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Konthee Boonmeeprakob <span class="text-muted">(Research Assistant)</span></h2>
        <p class="lead"><b>Email </b>: Konthee.b@vistec.ac.th</p>
        <h5>Team of Molecular Electrochemistry for Energy at VISTEC</h5>
        <h6>"Member of Electrochemical Diagnostic"</h6>
        <li><h7>"Machine Learning for Electrochemistry"</h7></li>
        <li><h7>"Python Programmer"</h7></li>
        <li><h7>"Web Developer"</h7></li>
      </div>
      <div class="col-md-5">
        <img src="../static/Knot.png" alt="" width="300" height="400">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dr. Siraprapha Deebansok <span class="text-muted">(Postdoctoral)</span></h2>
        <p class="lead"><b>Email </b> Siraprapha@vistec.ac.th</p>
        <h5>Team of Molecular Electrochemistry for Energy at VISTEC</h5>
        <h6>"Group Leader of Electrochemical Diagnostic"</h6>
        <li><h7>"Wolfram Mathematica approach for Theoretical Electrochemistry"</h7></li>
        <li><h7>"Mimic battery/ in-situ Electrochemistry and Optical Microscopy/ Microelectrodes"</h7></li>

      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/Ice.png" alt="" width="300" height="400">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Assoc. Prof. Dr. Olivier Fontaine <span class="text-muted">(Team Leader)</span></h2>
        <h1 class="lead"><b>Email </b> Olivier.fontaine@vistec.ac.th</h1>
        <h5>Team of Molecular Electrochemistry for Energy at VISTEC</h5>
        <h5>Member of Institut Universitaire de France </h5>
      </div>
      <div class="col-md-5">
        <img src="../static/Olivier.png" alt="" width="300" height="400">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>




</div>
{% endblock%}

   

 