{% extends "layout.html" %}



{% block content%}
<div class="container">
<h1>Editorial Team </h1>


<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Konthee Boonmeeprakob <span class="text-muted">(Research Assistant)</span></h2>
        <p class="lead"><b>Email </b>: Konthee.b@vistec.ac.th.</p>
        <h5>Team of Molecular Electrochemistry for Energy at VISTEC</h5>
      </div>
      <div class="col-md-5">
        <img src="../static/Knot.png" alt="" width="300" height="400">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dr. Siraprapha Deebansok <span class="text-muted">(Postdoctoral)</span></h2>
        <p class="lead"><b>Email </b> Siraprapha@vistec.ac.th</p>
        <h5>Team of Molecular Electrochemistry for Energy at VISTEC</h5>
        <h6>"Group leader of electrochemical diagnostic"</h6>
        <li><h7>"Wolfram Mathematica approach for theoretical electrochemistry"</h7></li>
        <li><h7>"Mimic battery/ in-situ electrochemistry and optical microscopy/ microelectrodes"</h7></li>

      </div>
      <div class="col-md-5 order-md-1">
        <img src="../static/Ice.png" alt="" width="300" height="400">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Assoc. Prof. Dr. Olivier Fontaine <span class="text-muted">(Professor)</span></h2>
        <h1 class="lead"><b>Email </b> Olivier.fontaine@vistec.ac.th</h1>
        <h5>Team of Molecular Electrochemistry for Energy at VISTEC</h5>
        <h5>Member of Institut Universitaire de France (junior member of Academy of Science)</h5>
      </div>
      <div class="col-md-5">
        <img src="../static/Olivier.png" alt="" width="300" height="400">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>




</div>
{% endblock%}

   

 