{% extends "layout.html" %}

{% block content%}
    <div class="container" >
        <div class="row">
        <div class="col col-right">

            <div class="category-title">
              <div class="line"></div>
              <h1>Contact Information</h1>
              <hr class="featurette-divider">
            </div>
            <div class="cms-list-area contact">
              <h4 class="subject">Vidyasirimedhi Institute of Science and Technology (VISTEC)</h4>
              <h5 class="address"> Wangchan Valley 555 Moo 1 Payupnai,  Wangchan, Rayong 21210 Thailand  </h5>
               <h4 class="subject">สถาบันวิทยสิริเมธี</h4>
               <h5 class="address">
                วังจันทร์วัลเลย์ 555 หมู่ 1 ต.ป่ายุบใน อ.วังจันทร์ จ.ระยอง 21210
               </h5>
              <p>
                <h4 style="color:rgb(252, 248, 248)"> <span class="newline"></span> <img src="../static/envelope-exclamation-fill.svg" alt="" width="30" height="30"> <span><a href="mailto:olivier.fontaine@vistec.ac.th"> contact@vistec.ac.th</a></h4></span>
              </p>
              
            </div>
  
  
            <div style=" margin-bottom:30px">
            <img src="../static/561000007755701.jfif" width="850" height="600">
            </div>
            
            
          <div class="google-maps">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.539541760449!2d101.44124661482229!3d13.001276290836406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310323fac434be89%3A0xf7ffe4c5d6dd9446!2sVISTEC!5e0!3m2!1sen!2sth!4v1521430035269" width="850" height="600" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  </div>
     
  
          </div>
        </div>

    </div>
{% endblock%} 
