{% extends "layout.html" %}

{% block content%}

<div  style="height:1000px; width:100%; display:inline-block; background-color:#ffffff;">


<div class="container">
    <br>
    <h1 class="text-center">CV Classifier</h1>

    

    {% if image_path %}
    
    <ul class="text-center" ><img src="{{image_path}}" alt="" width="400" height="300"></ul>
    {% else %}

    <ul class="text-center" ><img src="../static/CV insert.png" alt="" width="400" height="300"></ul>
    
    {% endif %}

    
    <form class="p-3 text-center" action="/CV", method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" name="imagefile_CV">
        <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
    
      
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            <br><br>
            {% if prediction2 %}
            <span></span>
            <hr class="featurette-divider">
            <p class="text-center" > The Robot predicts that this CV is <a style="color:rgba(23, 217, 243, 0.822) ">{{prediction2.predict}} </a></p>
            <span class="text-muted">%Pseudo is {{prediction2.psedo}} </span>
            <hr class="featurette-divider">
            <br>
            <h6>The prediction was performed based on binary classification between pseudocapacitor vs battery with % confidence. 
                Then, % pseudo was determined by using % confidence coupled with the probability between CV types.</h6>
            {% else %}
            <!--    
            <hr class="featurette-divider">
            <p class="text-center" > Insert your photo </p>
            <span class="text-muted">T.B. Robot </span>
            <hr class="featurette-divider">
            -->   
            {% endif %} 
            
        </div>

        {% if prediction2 %}
            {% if prediction2.predict == "Pseudocapacitor" %}
            <div class="col-md-5">
                <img src="../static/T.B._pseudo.png"  alt=""  class="address" width="326" height="502" >
  
            </div>
            {% else %}
            <div class="col-md-5">
                <img src="../static/T.B._Bat.png"  alt=""  class="address" width="326" height="502" >
  
            </div>
        
            {% endif %}
        {% else %}
        <!--
        <div class="col-md-5">
        <ul class="text-center" ><img src="../static/T.B._think.png" width="326" height="502"></ul>

        </div>
        -->   
        {% endif %} 
        




    </form>
      </div>   


</div>  
       
</div>
{% endblock%}
