{% extends "layout.html" %}

{% block content%}

<div  style="height:1000px; width:100%; display:inline-block; background-color:#ffffff;">
    

    <div class="container">
        <br>
    <h1 class="text-center">GCD Classifier</h1>
    
    {% if image_path %}
    
    <ul class="text-center" ><img src="{{image_path}}" alt="" width="400" height="300"></ul>
    {% else %}

    <ul class="text-center" ><img src="../static/GCD insert.png" alt="" width="400" height="300"></ul>
    {% endif %}
    
    
    <form class="p-3 text-center" action="/GCD", method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" name="imagefile_GCD">
        <input class="btn btn-primary mt-3" type="submit" value="Predict Image">

    

    <div class="row featurette">
        <div class="col-md-7">
            
          <h2 class="featurette-heading">
            <br><br>
            {% if prediction %}
            <hr class="featurette-divider">
            <p class="text-center" > The Robot predicts that this GCD is <a style="color:rgba(23, 217, 243, 0.822) ">{{prediction.predict}}  type</a></p>
            <span class="text-muted">with {{prediction.score}}% confidence. </span>
            <hr class="featurette-divider">
            <br>
            <h6>The prediction was performed based on binary classification between pseudocapacitor vs battery.</h6>
            {% else %}
            <!--
            <hr class="featurette-divider">
            <p class="text-center" > Insert your photo </p>
            <span class="text-muted">T.B. Robot </span>
            <hr class="featurette-divider">
            -->
            {% endif %} 
            
            
        </div>

        {% if prediction %}
            {% if prediction.predict == "Pseudocapacitor" %}
            <div class="col-md-5">
                <img src="../static/T.B._pseudo.png"  alt=""  class="address" width="326" height="502" >
  
            </div>
            {% else %}
            <div class="col-md-5">
                <img src="../static/T.B._Bat.png"  alt=""  class="address" width="326" height="502" >
  
            </div>
        
            {% endif %}
        {% else %}
        
            <!--
            <div class="col-md-5">
                <img src="../static/T.B._think.png"  alt=""  class="address" width="326" height="502" >
  
            </div>
            -->
        {% endif %} 
        

 

    
        </form>
    </div>

</div>
{% endblock%}
